In [1]:
import pandas as pd

In [5]:
weather = pd.read_csv('Weather.csv')

In [6]:
weather

,date,temperature_high,temperature_low,rained,snowed,overcast,comments
0,2021-01-01,4,1,1,False,cloudy,happy new year
1,2021-01-02,11,2,0,False,sunny,second day
2,2021-01-03,3,2,0,False,foggy,third day
3,2021-01-04,6,2,0,False,sunny,first business day
4,2021-01-05,4,unknown,0,False,cloudy,second business day

In [8]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              5 non-null      object
 1   temperature_high  5 non-null      int64
 2   temperature_low   5 non-null      object
 3   rained            5 non-null      int64
 4   snowed            5 non-null      bool
 5   overcast          5 non-null      object
 6   comments          5 non-null      object
dtypes: bool(1), int64(2), object(4)
memory usage: 373.0+ bytes

In [9]:
weather.dtypes

date                object
temperature_high     int64
temperature_low     object
rained               int64
snowed                bool
overcast            object
comments            object
dtype: object

In [12]:
weather['temperature_high'] = weather['temperature_high'].astype('int8')

In [15]:
weather.dtypes

date                object
temperature_high      int8
temperature_low     object
rained                bool
snowed                bool
overcast            object
comments            object
dtype: object

In [14]:
weather['rained'] = weather['rained'].astype('bool')

In [16]:
weather['rained']

0     True
1    False
2    False
3    False
4    False
Name: rained, dtype: bool

In [18]:
#using dictionary in astype to change multiple columns
weather = weather.astype({'overcast':'category','comments':'string'})

In [20]:
weather.dtypes

date                  object
temperature_high        int8
temperature_low       object
rained                  bool
snowed                  bool
overcast            category
comments              string
dtype: object

In [21]:
weather['overcast']

0    cloudy
1     sunny
2     foggy
3     sunny
4    cloudy
Name: overcast, dtype: category
Categories (3, object): ['cloudy', 'foggy', 'sunny']

In [22]:
weather['temperature_low'] = pd.to_numeric(weather['temperature_low'],errors = 'coerce')

In [23]:
weather['temperature_low']

0    1.0
1    2.0
2    2.0
3    2.0
4    NaN
Name: temperature_low, dtype: float64

In [24]:
weather['date'] = pd.to_datetime(weather['date'])

In [25]:
weather['date']

0   2021-01-01
1   2021-01-02
2   2021-01-03
3   2021-01-04
4   2021-01-05
Name: date, dtype: datetime64[ns]

In [26]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              5 non-null      datetime64[ns]
 1   temperature_high  5 non-null      int8
 2   temperature_low   4 non-null      float64
 3   rained            5 non-null      bool
 4   snowed            5 non-null      bool
 5   overcast          5 non-null      category
 6   comments          5 non-null      string
dtypes: bool(2), category(1), datetime64[ns](1), float64(1), int8(1), string(1)
memory usage: 400.0 bytes

In [27]:
hero_dc = pd.read_excel('superhero_info.xlsx', sheet_name = 'DC Comics')
hero_marvel = pd.read_excel('superhero_info.xlsx', sheet_name = 'Marvel Comics')

In [30]:
hero_dc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        215 non-null    object
 1   Gender      215 non-null    object
 2   Eye color   215 non-null    object
 3   Race        215 non-null    object
 4   Hair color  215 non-null    object
 5   Height      215 non-null    int64
 6   Publisher   215 non-null    object
 7   Alignment   215 non-null    object
 8   Weight      144 non-null    float64
dtypes: float64(1), int64(1), object(7)
memory usage: 15.2+ KB

In [43]:
Dtypes = {'name':'string','Gender':'category','Eye color':'string','Race':'string'}
hero_dc = pd.read_excel('superhero_info.xlsx', sheet_name = 'DC Comics',dtype = Dtypes)
hero_marvel = pd.read_excel('superhero_info.xlsx', sheet_name = 'Marvel Comics',dtype = Dtypes)

In [44]:
hero_dc.dtypes
hero_marvel.dtypes

name            string
Gender        category
Eye color       string
Race            string
Hair color      object
Height           int64
Publisher       object
Alignment       object
Weight           int64
dtype: object

In [40]:
weather.to_csv('Weather1.csv',index = False)

In [41]:
weather.to_pickle('Weather1.pkl')

In [46]:
hero_dc.to_csv('hero_dc_csv.csv')
hero_dc.to_pickle('hero_dc_pkl.pkl')
hero_marvel.to_csv('hero_marvel_csv.csv')
hero_dc.to_pickle('hero_marvel_pkl.pkl')