In [53]:
import pandas as pd

In [54]:
hero = pd.read_pickle('hero_info.pkl')

In [55]:
hero.head(5)

,name,sex,eye color,race,hair color,height,publisher,alignment,weight
0,Abin Sur,Male,blue,Ungaran,No Hair,185,DC Comics,good,90.0
1,Adam Strange,Male,blue,Human,Blond,185,DC Comics,good,88.0
2,Alan Scott,Male,blue,-,Blond,180,DC Comics,good,90.0
3,Alfred Pennyworth,Male,blue,Human,Black,178,DC Comics,good,72.0
4,Amazo,Male,red,Android,-,257,DC Comics,bad,173.0

In [56]:
hero.loc[2,'race'] =  'unknown' # or .iloc[2,3]

In [57]:
hero.head(5)

,name,sex,eye color,race,hair color,height,publisher,alignment,weight
0,Abin Sur,Male,blue,Ungaran,No Hair,185,DC Comics,good,90.0
1,Adam Strange,Male,blue,Human,Blond,185,DC Comics,good,88.0
2,Alan Scott,Male,blue,unknown,Blond,180,DC Comics,good,90.0
3,Alfred Pennyworth,Male,blue,Human,Black,178,DC Comics,good,72.0
4,Amazo,Male,red,Android,-,257,DC Comics,bad,173.0

In [58]:
hero.loc[hero['race']=='-','race'] = 'unknown'

In [59]:
hero[hero['race']=='unknown']

,name,sex,eye color,race,hair color,height,publisher,alignment,weight
2,Alan Scott,Male,blue,unknown,Blond,180,DC Comics,good,90.0
7,Aquababy,Male,blue,unknown,Blond,-99,DC Comics,good,NaN
12,Atom,Male,blue,unknown,Red,178,DC Comics,good,68.0
13,Atom,Male,-,unknown,-,-99,DC Comics,good,NaN
14,Atom Girl,Female,black,unknown,Black,168,DC Comics,good,54.0
...,...,...,...,...,...,...,...,...,...
594,Wonder Man,Male,red,unknown,Black,188,Marvel Comics,good,171.0
595,Wondra,Female,-,unknown,-,-99,Marvel Comics,good,-99.0
596,Wyatt Wingfoot,Male,brown,unknown,Black,196,Marvel Comics,good,117.0
598,X-Man,Male,blue,unknown,Brown,175,Marvel Comics,good,61.0
599,Yellow Claw,Male,blue,unknown,No Hair,188,Marvel Comics,bad,95.0

In [60]:
hero.loc[533]

name             Spider-Man
sex                    Male
eye color             brown
race                  Human
hair color            Black
height                  157
publisher     Marvel Comics
alignment              good
weight                 56.0
Name: 533, dtype: object

In [61]:
hero.loc[1000] = hero.loc[533]

In [62]:
hero.loc[1000]

name             Spider-Man
sex                    Male
eye color             brown
race                  Human
hair color            Black
height                  157
publisher     Marvel Comics
alignment              good
weight                 56.0
Name: 1000, dtype: object

In [63]:
#iloc can only be used for existing row

In [64]:
hero['height']

0       185
1       185
2       180
3       178
4       257
       ...
599     188
600     183
601     165
602     305
1000    157
Name: height, Length: 604, dtype: int64

In [65]:
hero['height']*0.0328084 #hero height in ft

0        6.069554
1        6.069554
2        5.905512
3        5.839895
4        8.431759
          ...
599      6.167979
600      6.003937
601      5.413386
602     10.006562
1000     5.150919
Name: height, Length: 604, dtype: float64

In [66]:
hero['height']=hero['height']*0.0328084

In [67]:
numeric_cols = hero.select_dtypes(include = 'number').columns

In [68]:
numeric_cols

Index(['height', 'weight'], dtype='object')

In [69]:
hero[numeric_cols]

         height  weight
0      6.069554    90.0
1      6.069554    88.0
2      5.905512    90.0
3      5.839895    72.0
4      8.431759   173.0
...         ...     ...
599    6.167979    95.0
600    6.003937    83.0
601    5.413386    52.0
602   10.006562   -99.0
1000   5.150919    56.0

[604 rows x 2 columns]

In [70]:
hero[numeric_cols]=hero[numeric_cols]*100

In [71]:
hero[numeric_cols]

          height   weight
0      606.95540   9000.0
1      606.95540   8800.0
2      590.55120   9000.0
3      583.98952   7200.0
4      843.17588  17300.0
...          ...      ...
599    616.79792   9500.0
600    600.39372   8300.0
601    541.33860   5200.0
602   1000.65620  -9900.0
1000   515.09188   5600.0

[604 rows x 2 columns]

In [72]:
hero[numeric_cols] = hero[numeric_cols]/100

In [73]:
hero[numeric_cols]

         height  weight
0      6.069554    90.0
1      6.069554    88.0
2      5.905512    90.0
3      5.839895    72.0
4      8.431759   173.0
...         ...     ...
599    6.167979    95.0
600    6.003937    83.0
601    5.413386    52.0
602   10.006562   -99.0
1000   5.150919    56.0

[604 rows x 2 columns]

In [74]:
#adding new column

In [75]:
hero['bmi'] =hero['weight']/(hero['height']/3.28)**2

In [76]:
hero.columns

Index(['name', 'sex', 'eye color', 'race', 'hair color', 'height', 'publisher',
       'alignment', 'weight', 'bmi'],
      dtype='object')

In [77]:
hero.head(2)

,name,sex,eye color,race,hair color,height,publisher,alignment,weight,bmi
0,Abin Sur,Male,blue,Ungaran,No Hair,6.069554,DC Comics,good,90.0,26.283103
1,Adam Strange,Male,blue,Human,Blond,6.069554,DC Comics,good,88.0,25.699034

In [80]:
hero_ref = hero #shallow copy 
hero_copy = hero.copy() # real deep copy doesn't impact original

In [81]:
hero_ref.columns

Index(['name', 'sex', 'eye color', 'race', 'hair color', 'height', 'publisher',
       'alignment', 'weight', 'bmi'],
      dtype='object')

In [82]:
hero_copy['copy'] = True

In [83]:
hero_copy is hero

False

In [84]:
#Sorting the data

In [85]:
hero.head(5)

,name,sex,eye color,race,hair color,height,publisher,alignment,weight,bmi
0,Abin Sur,Male,blue,Ungaran,No Hair,6.069554,DC Comics,good,90.0,26.283103
1,Adam Strange,Male,blue,Human,Blond,6.069554,DC Comics,good,88.0,25.699034
2,Alan Scott,Male,blue,unknown,Blond,5.905512,DC Comics,good,90.0,27.763556
3,Alfred Pennyworth,Male,blue,Human,Black,5.839895,DC Comics,good,72.0,22.712769
4,Amazo,Male,red,Android,-,8.431759,DC Comics,bad,173.0,26.179265

In [87]:
hero.sort_values(by = 'race')#A-Z

,name,sex,eye color,race,hair color,height,publisher,alignment,weight,bmi
341,Evilhawk,Male,red,Alien,Black,6.266404,Marvel Comics,bad,106.0,29.041344
302,Century,Male,white,Alien,White,6.594488,Marvel Comics,good,97.0,23.997014
268,Blackwulf,Male,red,Alien,White,6.167979,Marvel Comics,-,88.0,24.885396
520,Silver Surfer,Male,white,Alien,No Hair,6.332021,Marvel Comics,good,101.0,27.100939
236,Ardina,Female,white,Alien,Orange,6.332021,Marvel Comics,good,98.0,26.295961
...,...,...,...,...,...,...,...,...,...,...
249,Beta Ray Bill,Male,-,unknown,No Hair,6.594488,Marvel Comics,good,216.0,53.436650
248,Beetle,Male,-,unknown,-,-3.248032,Marvel Comics,bad,-99.0,-100.958384
246,Beak,Male,black,unknown,White,5.741470,Marvel Comics,good,63.0,20.560896
244,Bantam,Male,brown,unknown,Black,5.413386,Marvel Comics,good,54.0,19.824555
301,Cecilia Reyes,-,brown,unknown,Brown,5.577428,Marvel Comics,good,62.0,21.442303

In [89]:
hero.sort_values(by = 'race',ascending = False)#Z-A

,name,sex,eye color,race,hair color,height,publisher,alignment,weight,bmi
403,Jennifer Kale,Female,blue,unknown,Blond,5.511811,Marvel Comics,good,55.0,19.476984
510,Shadow King,-,red,unknown,-,6.069554,Marvel Comics,good,149.0,43.513137
307,Cloak,Male,brown,unknown,black,7.414698,Marvel Comics,good,70.0,13.698050
306,Clea,-,-,unknown,White,-3.248032,Marvel Comics,good,-99.0,-100.958384
305,Changeling,Male,brown,unknown,Black,5.905512,Marvel Comics,bad,81.0,24.987200
...,...,...,...,...,...,...,...,...,...,...
103,Indigo,Female,-,Alien,Purple,-3.248032,DC Comics,neutral,NaN,NaN
268,Blackwulf,Male,red,Alien,White,6.167979,Marvel Comics,-,88.0,24.885396
341,Evilhawk,Male,red,Alien,Black,6.266404,Marvel Comics,bad,106.0,29.041344
70,Doomsday,Male,red,Alien,White,8.005250,DC Comics,bad,412.0,69.166396
302,Century,Male,white,Alien,White,6.594488,Marvel Comics,good,97.0,23.997014

In [90]:
hero.sort_values(by = 'bmi',ascending = False).head()

,name,sex,eye color,race,hair color,height,publisher,alignment,weight,bmi
566,Utgard-Loki,Male,blue,Frost Giant,White,0.492126,Marvel Comics,bad,58.0,2576.457960
86,Giganta,Female,green,unknown,Red,2.066929,DC Comics,bad,630.0,1586.488891
492,Red Hulk,Male,yellow,Human / Radiation,Black,6.988189,Marvel Comics,neutral,630.0,138.790240
64,Darkseid,Male,red,New God,No Hair,8.759843,DC Comics,bad,817.0,114.545259
431,Machine Man,-,red,unknown,Black,6.003937,Marvel Comics,good,383.0,114.307356

In [93]:
hero[['race','height']].sort_values(by = ['race','height'])

        race     height
103    Alien  -3.248032
268    Alien   6.167979
341    Alien   6.266404
236    Alien   6.332021
520    Alien   6.332021
..       ...        ...
434  unknown   6.988189
556  unknown   7.152231
307  unknown   7.414698
502  unknown  10.006562
592  unknown  12.007874

[604 rows x 2 columns]

In [97]:
hero[['race','height']].sort_values(by = ['height','race'],ascending = [True,False])

                race     height
7            unknown  -3.248032
13           unknown  -3.248032
16           unknown  -3.248032
17           unknown  -3.248032
19           unknown  -3.248032
..               ...        ...
592          unknown  12.007874
449           Cyborg  12.007874
376   Flora Colossus  22.998688
357    Cosmic Entity  28.740158
347  Kakarantharaian  31.988190

[604 rows x 2 columns]

In [100]:
hero.nlargest(n=10,columns = 'height')#more efficient

,name,sex,eye color,race,hair color,height,publisher,alignment,weight,bmi
347,Fin Fang Foom,Male,red,Kakarantharaian,No Hair,31.988190,Marvel Comics,good,18.0,0.189252
357,Galactus,Male,black,Cosmic Entity,Black,28.740158,Marvel Comics,neutral,16.0,0.208396
376,Groot,Male,yellow,Flora Colossus,-,22.998688,Marvel Comics,good,4.0,0.081358
449,MODOK,Male,white,Cyborg,Brownn,12.007874,Marvel Comics,bad,338.0,25.219247
592,Wolfsbane,Female,green,unknown,Auburn,12.007874,Marvel Comics,good,473.0,35.292023
475,Onslaught,Male,red,Mutant,No Hair,10.006562,Marvel Comics,bad,405.0,43.514393
502,Sasquatch,Male,red,unknown,Orange,10.006562,Marvel Comics,good,900.0,96.698651
602,Ymir,Male,white,Frost Giant,No Hair,10.006562,Marvel Comics,good,-99.0,-10.636852
409,Juggernaut,Male,blue,Human,Red,9.416011,Marvel Comics,neutral,855.0,103.748041
186,Solomon Grundy,Male,black,Zombie,White,9.153544,DC Comics,bad,437.0,56.111337

In [101]:
hero.sort_values(by = 'height',ascending = False).head(10)

,name,sex,eye color,race,hair color,height,publisher,alignment,weight,bmi
347,Fin Fang Foom,Male,red,Kakarantharaian,No Hair,31.988190,Marvel Comics,good,18.0,0.189252
357,Galactus,Male,black,Cosmic Entity,Black,28.740158,Marvel Comics,neutral,16.0,0.208396
376,Groot,Male,yellow,Flora Colossus,-,22.998688,Marvel Comics,good,4.0,0.081358
449,MODOK,Male,white,Cyborg,Brownn,12.007874,Marvel Comics,bad,338.0,25.219247
592,Wolfsbane,Female,green,unknown,Auburn,12.007874,Marvel Comics,good,473.0,35.292023
475,Onslaught,Male,red,Mutant,No Hair,10.006562,Marvel Comics,bad,405.0,43.514393
602,Ymir,Male,white,Frost Giant,No Hair,10.006562,Marvel Comics,good,-99.0,-10.636852
502,Sasquatch,Male,red,unknown,Orange,10.006562,Marvel Comics,good,900.0,96.698651
409,Juggernaut,Male,blue,Human,Red,9.416011,Marvel Comics,neutral,855.0,103.748041
186,Solomon Grundy,Male,black,Zombie,White,9.153544,DC Comics,bad,437.0,56.111337

In [103]:
hero.nsmallest(n= 10,columns = 'height')

,name,sex,eye color,race,hair color,height,publisher,alignment,weight,bmi
7,Aquababy,Male,blue,unknown,Blond,-3.248032,DC Comics,good,NaN,NaN
10,Arsenal,Male,-,Human,-,-3.248032,DC Comics,good,NaN,NaN
13,Atom,Male,-,unknown,-,-3.248032,DC Comics,good,NaN,NaN
16,Atom III,Male,-,unknown,Red,-3.248032,DC Comics,good,NaN,NaN
17,Atom IV,Male,brown,unknown,Black,-3.248032,DC Comics,good,72.0,73.424279
18,Azrael,Male,brown,Human,Black,-3.248032,DC Comics,good,NaN,NaN
19,Aztar,Male,-,unknown,-,-3.248032,DC Comics,good,NaN,NaN
21,Batgirl,Female,-,unknown,-,-3.248032,DC Comics,good,NaN,NaN
23,Batgirl III,Female,-,unknown,-,-3.248032,DC Comics,good,NaN,NaN
25,Batgirl V,Female,-,unknown,-,-3.248032,DC Comics,good,NaN,NaN

In [104]:
hero[hero['height']>0].nsmallest(n= 10,columns = 'height')

,name,sex,eye color,race,hair color,height,publisher,alignment,weight,bmi
566,Utgard-Loki,Male,blue,Frost Giant,White,0.492126,Marvel Comics,bad,58.0,2576.457960
279,Bloodwraith,Male,white,unknown,No Hair,1.017060,Marvel Comics,bad,-99.0,-1029.649450
6,Anti-Monitor,Male,yellow,God / Eternal,No Hair,2.001312,DC Comics,bad,NaN,NaN
86,Giganta,Female,green,unknown,Red,2.066929,DC Comics,bad,630.0,1586.488891
118,Krypto,Male,blue,Kryptonian,White,2.099738,DC Comics,good,18.0,43.922813
388,Howard the Duck,Male,brown,unknown,Yellow,2.591864,Marvel Comics,good,18.0,28.826765
496,Rocket Raccoon,Male,brown,Animal,Brown,4.002625,Marvel Comics,good,25.0,16.787960
173,Robin V,Male,blue,Human,Black,4.494751,DC Comics,good,38.0,20.235785
591,Wiz Kid,-,brown,unknown,Black,4.593176,Marvel Comics,good,39.0,19.887771
353,Franklin Richards,Male,blue,Mutant,Blond,4.658793,Marvel Comics,good,45.0,22.305574

In [105]:
#nsmallest & largest doesn't work with string

In [106]:
url  = "https://raw.githubusercontent.com/PacktPublishing/Python-for-Data-Analysis-step-by-step-with-projects-/main/games.csv"

In [107]:
s = pd.read_csv(url)

In [109]:
s.to_csv('games.csv')

In [110]:
url1 = "https://raw.githubusercontent.com/PacktPublishing/Python-for-Data-Analysis-step-by-step-with-projects-/main/teams.csv"

In [111]:
teams = pd.read_csv(url1)

In [113]:
teams.to_csv('teams.csv')